.navbar-inverse{
  background-color:yellow;
}

.nav navbar-nav{
  color:blue;
}

.navbar-brand{
  color:cornflowerblue;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover{
  color:green;
}